#tripHda {
  margin-top: 100px;
}

.tripText {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.tripText span {
  width: 40px;
  height: 40px;
  background: #ff657f;
  font-size: 20px;
  border: 1px solid #707070;
  border-radius: 5px;
  margin-right: 45px;
}

.tripText span i {
  width: 20px;
  height: 20px;
  margin: 9px 5px 0 9px;
  color: #ffffff;
}

.hdaText {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.hdaText span {
  width: 40px;
  height: 40px;
  background: #ff657f;
  font-size: 20px;
  border: 1px solid #707070;
  border-radius: 5px;
  margin-right: 45px;
}

.hdaText span i {
  width: 20px;
  height: 20px;
  margin: 9px 5px 0 9px;
  color: #ffffff;
}
